@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@300;400;500;700;800&family=Island+Moments&display=swap');

body{
    margin:0;
    
    /* background-image: url(./imagem/flores_branca.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: 100%; */
}

nav{
    background-color:#201b2c;
    height: 65px;
    width: 100%;
    padding-top:6%;
   

}
a{
    text-decoration: none;
}

footer{
    background-color: hsl(266, 64%, 61%);
    padding-block: 2px;
    margin-right: 0px;
    padding-top:1px;  
    margin-top: 2px;
}
hr{
     size:150px;
}

 .anterior{
        text-decoration: line-through;
        color:red;
        
        
    }
.navegacao{
    color:white;
}
.menu ul li {
    display: inline-block;
    padding-right: 150px;
    padding-left: 2px;
    padding-top: 14px;
    margin:0px;
    color: white; 
}
.menu ul{
    padding-left:150px;
}
.novidades ul li{
    display: inline-block;

}
.main-login{
    width: 100vw;
    height: 100vh;
    background: #201b2c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1{
    color:#77ffc0;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px 35px ;
    background:#2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color:#77ff88;  
    font-weight: 800;
    margin:0;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin:10px 0px;
}

.textfield > input{
    width: 100%;
    border:none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;

}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;

}
.textfield > input ::placeholder{
    color:#f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color:#2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;

}

.cadastro{
    background:#0c090c;
    height: 45vw;
    color: white;
    display: inline-block;
    padding-top: 2px;
}
.erro{
    background:#0c090c;
    height: 45vw;
    color: white;
    display: inline-block;
    padding-top: 2px;
}
.principal{
    background:#0c090c;
    height: 45vw;
    color: white;
    display: flex;
    padding-top: 2px;
    border-bottom: 10%;
  
}
.produtos{
    display:flex;
    /* flex-direction: row; */
    margin-right: 10px;
    background-color:#27b61a;
    
}
/* div:hover { border: solid 5px rgb(185, 212, 199);
    border-radius:1px;} */
 


.blocox{
    display:inline-block;
    /* overflow: hidden; */
    /* background-color: #747079; */
    /* opacity: 10; */
    width: 200px;
    height: 170px;
    margin:2% 2% 2% 4%;
    padding-left: 35px;
    margin-bottom: 20%;
    border-radius: 0%;
    border-bottom-left-radius: 0px;
    
}
.blocox img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s; 
    transition:all 0.3s;
}
.blocox:hover img{
    -moz-transform:scale(1.1);
    -webkit-transform: all 0.3s; 
     transform: scale(1.1); 
}
.descricao{
    position:relative; 
    left:2%;
    right: 60%;
    bottom: 1px;
    z-index: 10px;
    padding-top: 20px;
    padding-bottom: 1px;
    color:#000000;
    text-align:center;
    font-weight:700;
     text-shadow: 0 1px 3px rgba(0,0,0,); 
     background-color: yellow;
}
.breadcrumb{
    padding:0px 1px 10px 15px;
}
.breadcrumb li {
    list-style: none;
    margin:0px 15px;
}
.mapasite{
    margin:25px 3px 100px 1px ;
    display: inline-block;
    padding-inline-end: 45px;
    color:white;
}
